.spinner-border{
    width: 10rem; 
    height: 10rem;

    position: fixed;
    z-index: 999;

    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #74D68C;
    
}

.page-link{
    color: #74D68C;
}

.page-item.active .page-link{
    background-color: #74D68C !important;
    border-color: #74D68C !important;
    color: black;
}